@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html {
    overflow-y: scroll;
}

:root {
    --main-color: #F37022;
    --black: #fff;
    --bg: rgb(245, 250, 250);
    --border: .1rem solid rgba(0, 0, 0, 0.3);
    --font: rgb(0, 0, 0);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: rgb(129, 129, 129);
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

section.home {
    padding: 13rem 0rem 0rem 0%;
}


.header-top {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .15rem;
    display: flex;
    padding: 1rem;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background: var(--main-color);
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: lowercase;
}

.header-top a {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    text-transform: lowercase;
    font-weight: 400;

    padding: 0rem 0.5rem 0rem 0.5rem;

}

.header-top i {
    padding: 0rem 1rem 0rem 1rem;
}



.heading {
    text-align: center;
    color: black;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
    color: #fff;

}

/* The container <div> - needed to position the dropdown content */
.dropdown-new {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 0 2rem;
    font-size: 1.6rem;
    color: var(--font);
}

.dropdown-new.active {
    cursor: pointer;
    color: var(--font);
}

.dropdown-new:hover {
    cursor: pointer;
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
}

/* Dropdown-new Content (Hidden by Default) */
.dropdown-new-menu {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: -1;
    opacity: 0;
    visibillity: hidden;
    transition: all 0.1s ease-in-out;
}

/* Links inside the dropdown-new */
.dropdown-new-menu a {
    color: black;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
    cursor: pointer;
    min-width: 140px;
}



/* Change color of dropdown-new links on hover */
.dropdown-new-menu a:hover {
    background-color: #f3f3f3
}

/* Show the dropdown-new menu on hover */
.dropdown-new:hover .dropdown-new-menu {
    opacity: 1;
    visibillity: visiable;
    transition: max-height 0.3s ease-in;
    z-index: 1;
}


.header {
    display: flex;
    background: var(--black);
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 6%;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}

.header-box {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.header .logo img {
    height: 6rem;
}

.navbar {
    display: flex;
}

.header .navbar .navbar-link a {
    margin: 0 2rem;
    font-size: 1.6rem;
    color: var(--font);
}

.header .navbar.active a {
    color: var(--font);
}

.header .navbar .navbar-link a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: var(--main-color);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart-items-container .cart-item img {
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home2 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/home-img.jpeg) no-repeat;
    background-size: cover;
    background-position: center;

}

.home .content {
    max-width: 65rem;
}

.brands {
    visibility: hidden;
    margin-top: 6vh;
    margin-bottom: 8vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-items: center;
}

.popular-products{
visibility: hidden;
}
.application-datas{
    visibility: hidden;
    }


.image img {
    height: 30vh;
    width: 30vw;
    min-width: 250px;
    object-fit: contain;
}

h3 {
    font-size: 5.5rem;
    text-transform: uppercase;
    color: var(--font);
}

.quotes {
    font-size: 3rem;
    padding: 5rem 8rem 8rem 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(177, 171, 171);
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}

.home p {
    font-size: 2rem;

    color: var(--font);
    text-transform: initial;

}

.cards-padding {

    padding-left: 50px;
    padding-right: 50px;

}

.about .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 45rem;
    margin: 0;
    height: 75rem;
    padding: 0
}

.about .row .imagehome {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;

}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2.5rem;
    margin: 1rem;

}

.about .row .content h3 {
    font-size: 3rem;
    color: var(--font);
}

.about .row .content p {
    font-size: 1.6rem;
    color: var(--font);
    padding: 1rem 0;
    line-height: 1.8;
}


.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: var(--font);
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover {
    background: #fff;
}

.menu .box-container .box:hover>* {
    color: var(--black);
}

.product{
    visibility: hidden;
}


.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 4rem;
}

.products .box-container .box .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    margin: .3rem;
}

.products .box-container .box .icons a:hover {
    background: var(--main-color);
}

.products .box-container .box .image {
    padding: 2.5rem 0;
}

.products .box-container .box .image img {
    height: 25rem;
}

.products .box-container .box .content h3 {
    color: #fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .stars {
    padding: 1.5rem;
}

.products .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .box-container .box .content .price {
    color: #fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.review .box-container .box .stars i {
    font-size: 1.5rem;
    color: var(--main-color);
}

.overlay {
    position: fixed;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 1000;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
    display: none;
    align-items: center;
    justify-content: center;
}

.overlay .popup {
    background: var(--black);
    border: 1px solid #e4e4e4;
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
}

.popup .icon-box {
    color: #fff;
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.popup .icon-box i {
    font-size: 8rem;
    position: relative;
    top: 3px;
}

.popup p {
    font-size: 1.6rem;
    color: var(--font);
    padding: 1rem 0;
    line-height: 1.8;
}

.popup h2 {
    font-size: 2.6rem;
    color: var(--font);
    padding: 1rem 0;
    line-height: 1.8;
    text-align: center;
}

.contact .row {
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
    background: var(--black);
    border: 1px solid #e4e4e4;
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
    margin: 8rem 25rem 8rem 25rem;
    flex-flow: column;
    padding: 1.5rem .5rem .5rem .5rem;
}

.contact .row .map {
    flex: 1 1 60rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: var(--font);
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.contact .row form .inputBox span {
    color: var(--main-color);
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: var(--thm-p);
    text-transform: none;
    background: none;
}

.contact .row form .inputBox textarea {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: var(--thm-p);
    text-transform: none;
    background: none;
    resize: none;

}

.contact .row form label {
    width: 100%;
    padding: .75rem;
    font-size: 1.7rem;
    color: var(--thm-p);
    text-transform: none;
    background: none;
    resize: none;
    text-align: left;

}


/* Start of checkbox section */

.container-checkbox {
    display: grid;
    margin: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 0.5rem 0.5rem;
}

.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group input.largerCheckbox {
    width: 1.7rem;
    height: 1.7rem;
}

/* End of checkbox section */

.wrapper {
    text-align: center;

}

.right {
    float: right !important;
}

/* Image zoom on hover + Overlay colour */
.parent {
    width: 100%;
    height: inherit;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .5s;

}

.parent:hover .child,
.parent:focus .child {
    transform: scale(1.2);
}

/* .parent:hover .child:before,
.parent:focus .child:before {
}

.parent:hover img,
.parent:focus img {
} */

.child:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(242, 242, 242, 0.75);
}

.flyerchild {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .5s;

}

.parent:hover .flyerchild,
.parent:focus .flyerchild {
    transform: scale(1.2);
}

/* .parent:hover .flyerchild:before,
.parent:focus .flyerchild:before {
}

.parent:hover img,
.parent:focus img {
} */

.flyerchild:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.flyers {
    z-index: 1;
}

.flyers p {
    font-size: 6rem;
    color: #000;
}

.parent a {
    display: none;
    font-size: 2.5rem;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    /*text-decoration: none;*/
}

.brandlogo img {
    position: absolute;
    display: block;
    object-fit: cover;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 75%;
}

section.blogs {
    padding-top: 14rem;
    padding-bottom: 8rem;
}

.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20rem 35rem;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--bg);

}

.spinner {
    animation: rotator 1.4s linear infinite;
}

/* .preloader {
    overflow: hidden;
    background: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
} */


@keyframes rotator {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(270deg)
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite
}

@keyframes colors {
    0% {
        stroke: var(--main-color);
    }

    25% {
        stroke: var(--main-color);
    }

    50% {
        stroke: var(--main-color);
    }

    75% {
        stroke: var(--main-color);
    }

    100% {
        stroke: var(--main-color);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg)
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg)
    }


}

.blogs .box-container {
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem 1.5rem;
}

.blogs .box-container .box {
    border: var(--border);
    background-color: var(--black);
    height: 42rem;
    border: 1px solid #e4e4e4;
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
    background-size: initial;
    background-position: center;
}


.blogs .box-container .box .image {
    height: 25vh;
    overflow: hidden;
    position: relative;
}

.blogs .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    transition: all 0.6s ease-in-out 0s;
}

.blogs .box-container .box:hover .image img {
    transform: scale(1.05, 1.05);
}

.blogs .box-container .box .content {
    padding: 4rem;
}

.blogs .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--font);
    margin: 0;
}

/* .blogs .box-container .box .content .title:hover {
    color: var(--main-color);
} */

.blogs .box-container .box .content span {
    color: var(--main-color);
    display: block;
    font-size: 2rem;
}

.blogs .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: var(--font);
    padding: 1rem 0;
}
.item{
    visibility: hidden;
}
section.items {
    padding-top: 14rem;
    padding-bottom: 8rem;
}

.items .box-container {
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

}

.items .box-container .box {
    border: var(--border);
    background-color: var(--black);
    border: 1px solid #e4e4e4;
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
    max-width: 400px;

}

.items .box-container .box .image {
    height: 25vh;
    overflow: hidden;
    position: relative;
}

.items .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    transition: all .5s;
}

.items .box-container .box:hover .image img {
    transform: scale(1.2);
}

.items .box-container .box .content {
    padding: 4rem;
}

.items .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--font);
    margin: 0;
}

/* .items .box-container .box .content .title:hover {
        color: var(--main-color);
    } */

.items .box-container .box .content span {
    color: var(--main-color);
    display: block;
    font-size: 2rem;
}

.items .box-container .box .content p {
    font-size: 1.3rem;
    line-height: 1.8;
    color: var(--font);
    padding: 1rem 0;
}



section.flyers {
    padding-top: 14rem;
    padding-bottom: 8rem;
}

embed {
    cursor: pointer;
}

.flyers .box-container {
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    gap: 2.5rem;

}

.flyers .box-container .box {
    border: var(--border);
    background-color: var(--black);
    border: 1px solid #e4e4e4;
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
}

.flyers .box-container .box .image {
    height: 25vh;
    overflow: hidden;
    position: relative;
}

.flyers .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    transition: all .5s;
}

.flyers .box-container .box:hover .image img {
    transform: scale(1.2);
}

.flyers .box-container .box .content {
    padding: 4rem;
}

.flyers .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--font);
    margin: 0;
}

/* .flyers .box-container .box .content .title:hover {
        color: var(--main-color);
    } */

.flyers .box-container .box .content span {
    color: var(--main-color);
    display: block;
    font-size: 2rem;
}

.flyers .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: var(--font);
    padding: 1rem 0;
}




.footer {
    background: var(--font);
    text-align: center;

}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: .1rem solid rgba(255, 255, 255, 0.3);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: var(--main-color);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: .7rem 2rem;
    color: #fff;
    border: .1rem solid rgb(255, 255, 255);
    font-size: 2rem;
}

.footer .links a:hover {
    background: var(--main-color);
}

.footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
}



/* media queries  */
@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}


@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #010103;
        width: 30rem;
        height: calc(100vh - 9.5rem);
        transition: .2s linear;
        background: var(--black);
        display: block;
    }

    .header .navbar.active {
        right: 0;
        box-shadow: 0px 10px 10px rgb(0 0 0 / 20%);
        transition: .2s linear;
        background: var(--black)
    }

    .header .navbar .navbar-link a {
        color: var(--font);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .dropdown-new {
        cursor: pointer;
        position: relative;
        display: inline-block;
        margin: 0 2rem;
        font-size: 2rem;
        color: var(--font);
    }

    .dropdown-new.active {
        right: 0;
        box-shadow: 0px 10px 10px rgb(0 0 0 / 20%);
        transition: .2s linear;
        background: var(--black)
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .contact .row {
        display: flex;
        background: var(--black);
        flex-wrap: wrap;
        gap: 1rem;
        background: var(--black);
        border: 1px solid #e4e4e4;
        box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
        margin: 8rem 1rem 8rem 1rem;
        flex-flow: column;
    }


}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .about .row .image {
        flex: 1 1 45rem;
        height: 120px;
        padding: 0
    }
}


@media only screen and (max-width: 1440px) {
    .cards-padding {


        padding-left: 1rem;
        padding-right: 1rem;
    }

    .contact .row {
        display: flex;
        background: var(--black);
        flex-wrap: wrap;
        gap: 1rem;
        background: var(--black);
        border: 1px solid #e4e4e4;
        box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
        margin: 8rem 8rem 8rem 8rem;
        flex-flow: column;
    }

}

@media only screen and (max-width: 600px) {
    .quotes {
        font-size: 2.2rem;
        padding: 5rem 1rem 6rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: rgb(177, 171, 171);
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-weight: bold;
    }

    .brands {
        visibility: hidden;
        margin-top: 2vh;
        margin-bottom: 2vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        justify-items: center;
    }

    .header-top {
        font-family: 'Roboto', sans-serif;
        letter-spacing: .15rem;
        display: flex;
        padding: 1rem;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        background: var(--main-color);
        color: white;
        font-size: 1.0rem;
        font-weight: 400;
        text-transform: lowercase;
    }

    .header-top a {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: white;
        font-size: 1.0rem;
        text-transform: lowercase;
        font-weight: 400;

        padding: 0rem 0.5rem 0rem 0.5rem;

    }

    .contact .row {
        display: flex;
        background: var(--black);
        flex-wrap: wrap;
        gap: 1rem;
        background: var(--black);
        border: 1px solid #e4e4e4;
        box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
        margin: 8rem 0rem 4rem 0rem;
        flex-flow: column;
    }

    .about .row .image {
        flex: 1 1 45rem;
        height: 50rem;
        padding: 0;
        margin: 0;
    }

    .blogs .box-container {
        display: grid;
        margin: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 1.5rem 1.5rem;
    }

    .blogs .box-container .box {
        border: none;
        background-color: var(--black);
        height: 20rem;
        box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
    }

    .parent a {
        display: none;
        font-size: 2rem;
        color: #ffffff !important;
        font-family: sans-serif;
        text-align: center;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 50px;
        cursor: pointer;
        /*text-decoration: none;*/
    }

    .flyers p {
        font-size: 7vw;
        color: #000;
    }
    .blogs .box-container .box .content {
        padding: 0rem;
    }

    .blogs .box-container .box .content .title {
        font-size: 2rem;
        line-height: 1.5;
        color: var(--font);
        margin: 0;
    }

    .preloader {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8rem 5rem;
        overflow: hidden;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: var(--bg);
    }
    .overlay .popup {
        background: var(--black);
        border: 1px solid #e4e4e4;
        box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5rem;
    }

}

